*{
    margin: 0px;
    
}
html,body{
    height: 100%;
    
}
h1{
    font-family: Merriweather;
}
.header {
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,0.3)),url(../image/Aboutas.jpg);
    height: 820px;
    background: cover;
    background-attachment: fixed;
    width: 100%;
}
#Navigation-edit li a{
    background-color: transparent;
    color: white;
    padding: 25px;
}
#Navigation-edit{
    
}
.main-heading{
    position: absolute;
    top: 35%;
    left: 40%;
}
#ImgUser{
    border: 20px solid #7AD7F0;
}
@media screen and (max-width: 769px) {
    .main-heading{
        
        position: absolute;
        left: 20%;
        
    }

#service-section{
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,0.3)),url(../image/Aboutas.jpg);
    background-attachment: fixed;
    background: cover;
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}
.darkhader{
    background-color: #001f3f;
    transition: all 0.2s ease-in-out;
}

social-link ul {
    display: flex;
}

.social-link ul li a{
    color: #fff;
  font-size: 1.5rem; 

}


  .social-link ul li a{
    transition: all 0.2s ease-in-out;
      
}

.social-link ul li a:hover{
    
    transition: font-size 0.3s;
    transform: scale(1.5);

    
}



#blogImg{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/about.jpeg);
    background: cover;

}
