.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    padding: 20px 5px;
    justify-content: space-between;
  
}
.UserImg img{
border-radius: 50%;
width: 240px;
}
 .UserDescription{
     text-align: center;
     padding: 20px;
     align-self: center
 }