.contact{
      text-align: center;
 }
 .contact-info{
padding: 3rem;
 }
 .contact-info p{
     font-size: 1rem;
     padding: 10px;
 }
 .connect{
     text-transform: uppercase;
     letter-spacing: 1px;
 }
 .connect a{
     text-decoration: none;
     color: red;
 }