 *{
     padding: 0px;
     margin: 0px;
 }
 
 .header{
     display: flex;
     justify-content: space-between;
   }


 .logo{
     padding: 10px;
 }

 .nav ul li {
     list-style: none;
     display: inline-block;
    margin: 5px;
    width: 180px;
    text-align: center;
 
 }
 .nav ul li a{
     text-decoration: none;
     display: block;
     padding: 10px;
  }
 .nav ul li a:hover{
     background-color: rgb(87, 58, 214);
     border-radius: 10px;
     transition: all 0.5s ease-in;
     color: white;
 }