 .work{
 width: 100%;
 display: flex;
 justify-content: space-around;
flex-wrap: wrap;
 margin-top: 80px;
}

.project{
    width: 320px;
    height: 238px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 5px;
    border: rgba(0, 0, 0, 0.1);

 }
.work img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}

.work img:hover{
 cursor: pointer;
 transition: all 0.2s ease-in;
 transform: scale(1.03);
 overflow: hidden;
border-radius: 5px;
}


@media only screen and (max-width: 600px){
    .work{
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .nav{
        display: none;
    }
}