 .work{
 width: 100%;
 margin-top: 80px;
 display: flex;
 justify-content: space-between;
flex-wrap: wrap;
}
.project{
    width: 320px;
    height: 238px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 5px;

 }
.work img{
    width: 100%;
    height: 100%; 
}
.work img:hover{
 cursor: pointer;
}
@media only screen and (max-width: 600px){
    .work{
        text-align: center;
        justify-content: center;
        width: 100%;
    }
}